* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Vazirmatn", sans-serif;
}



  ::-webkit-scrollbar {
    width: 4px;
    
  }

  ::-webkit-scrollbar-thumb {
    background: #ff375f;
    border-radius: 10px;
    height: 100px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #d90429;
  }

.gradient {
  background: linear-gradient(
    270deg,
    rgba(244, 249, 253, 0.95) 32.81%,
    rgba(244, 249, 253, 0) 100%
  );
}

.slide:hover {
  transition: all 500ms;
  background-color: #ff375f;
}

.slide:hover svg path {
  fill: white;
}

.btnSlider:hover {
  transition: all 700ms;
  background-color: white;
  border: 1px solid #002a54;
}

.btnSlider:hover p {
  color: #002a54;
}

.btnSlider:hover span {
  background-color: #002a54;
}

.btnSlider:hover span svg path {
  fill: white;
}

.boxshodow {
  box-shadow: 0px 10px 30px 20px #002a540d;
}

.os {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.hoverbox:hover .background1,
.hoverbox:hover .background2 {
  display: block;
}

.hoverbox:hover .circle {
  transition: all 1s;
  background-color: #ff375f;
}

.hoverbox:hover .matn p {
  transition: all 1s;
  color: white;
}

.network:hover svg path {
  fill: white;
}

.Slideimg {
  animation-name: slideimg2;
  animation-duration: 1.5s;
}

@keyframes slideimg2 {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

/* The side navigation menu */

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #01162a;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: white;
  transition: 0.6s;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover,
.sidenav a:hover svg path {
  color: #ff375f;
  fill: #ff375f;
}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 24px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.dropdown-container {
  display: none;
  height: auto;
  background-color: white;
  padding-left: 8px;
  overflow-x: hidden;
}

.btnhover:hover {
  transition: all 0.7;
  background-color: white;
  border: 2px solid #d90429;
}

.btnhover:hover p {
  color: #d90429;
}

.btnhover:hover div {
  background-color: #d90429;
  color: white;
}

/* Gallery */

.gallery {
  background: linear-gradient(
    180deg,
    rgba(29, 191, 204, 0.15) 0%,
    #002a54 100%,
    #1dbfcc 100%
  );
}

.autoplay-progress {
  position: relative;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #002a54;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #002a54;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.swiper-pagination-bullet-active {
  background-color: #002a54 !important;
}

.swiper-pagination-bullet {
  background-color: #002a54 !important;
}
